
body
{
    background-color: #141414;
    font-family: 'Open Sans' , sans-serif;
    padding: 0 0 0 1rem;
    
}
.header{
    background-color: #141414;
    display: flex;
    /* padding-bottom: 2rem; */
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    
}
a{
  color: white;
    text-decoration: none;
}
.ulli{
display: inline;
}
a:visited {
  color: white;
}
a:hover{
  color: grey;
}
li{
    padding-left: 3rem;
    /* padding-bottom: 50px; */
    color:white;
    outline: none;
    /* justify-content: flex-start; */
}

.headerRight{
    /* /* padding-left: 3rem; */
    margin: 0 0 0 35rem; 
    padding: 5px;
}
.headerRight > a{
  padding-left: 0.5rem;
}
.maliste{
    background-color: #141414;
    margin-top: 0.3rem;
    overflow-x: hidden;
    display: flex;
    height: 15rem;
    
}
.padImg{
    padding-left: 0.3rem;
    padding-top: 3rem;
}
.progor{
  display: flex;
  overflow-x: hidden;
  background-color: #141414;
  height: 33rem;
 
}
.progor img{
  width: 220px;
  display: flex;
  padding: 0.3rem;
}
h1{
  color: white;
}
a>.subcat{
  margin: 5px 0 5px 0;
}
i{
  
  padding: 0.7em;
}
.affiche{
  position: relative;
  /* background-image: url(miniatures\la-revolution-netflix.jpg); */
  
  /* height: 600px;
  z-index: 0; */
}
.btnaffiche{
  position: absolute;
  top:650px;
  left:75px;
}

/* Animation "float" prise dans la library hover.css. https://ianlunn.github.io/Hover/ */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  
  